@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Lato:wght@100;300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Lato', sans-serif;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
    color: transparent;
  }
  50% {
    background-position: 100% 50%;
    color: transparent;
  }
  100% {
    background-position: 0% 50%;
    color: transparent;
  }
}

.gradient-shift {
  background: linear-gradient(90deg, #3b82f6, #aeff7b);
  background-size: 200% 200%;
  animation: gradientShift 2s linear infinite; /* Sesuaikan durasi dengan jumlah tahap (50% + 50%) */
  -webkit-background-clip: text;
  color: transparent;
  animation-timing-function: linear;
}